<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.0em;
        margin-bottom: 0.75em;
    }

    ul {
        margin-top: 0.75em;
        margin-bottom: 1.0em;
    }

    li {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    p {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    table {
        border-collapse: collapse;
        max-width: 400px;
        width: calc(100% - 8px);
        margin-left: auto;
        margin-right: auto;
    }

    table,
    th,
    td {
        border: solid 1px #999999;
    }

    thead>tr {
        background: #999999;
        color: #ffffff;
    }

    tbody>tr:nth-child(2n) {
        background: #eeeeee;
    }

    tbody>tr:nth-child(2n+1) {
        background: #ffffff;
    }

    tfoot>tr>th,
    tfoot>tr>td {
        font-weight: bold;
        font-size: 1.1em;
    }

    th,
    td {
        font-weight: normal;
        padding: 2px 8px;
    }

    th.width-fit,
    td.width-fit {
        white-space: nowrap;
        width: 1px;
    }

    div.box-qr {
        font-size: 1.1em;
        margin-top: 1.25em;
        margin-bottom: 1.0em;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    div.box-qr>img {
        margin: -24px;
    }

    em {
        font-style: normal;
        font-weight: bold;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .text-error {
        font-weight: bold;
        color: #ff0000;
    }
</style>